* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
schema-directives.graphql
schema-directives.graphql
/_lighthouse_ide_helper.php